/* VARIABLES */
$font: monospace, sans-serif;
$font-title: 2.5em;
$font-axis-labels: 1.5em;

$bg-color: #e5e2e0;
$box-shadow-color: #ccc;
$accent-color: #2eaed1;
$tooltip-border-color: #615e54;
$tooltip-bg-color: #e5e2e0;